* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-header {
  min-height: 56px;
  background-color: #fff;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  color: #14171a;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
}
