* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.ls-container {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 150px;
  min-height: 100vh;
  max-height: 100vh;
  /* position: fixed; */
  /* grid-column: 1/2; */
}

.ls-container section {
  flex: 8 1 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ls-container section > * {
  padding: 10px 0 10px 20px;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s;
}

.ls-container section p:hover {
  /* background-color: rgb(29, 161, 242); */
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 30px;
}

.ls-container section button {
  background-color: rgb(26, 145, 218);
  color: #fff;
  border-radius: 25px;
  border: none;
  letter-spacing: 1px;
  font-weight: bold;
}

.logout-top-wrapper {
  /* border: 1px solid greenyellow; */
  flex: 2 1 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
  padding-left: 10px;
}
.logout-up-wrapper {
  display: flex;
  /* justify-content: space-between; */
}

.logout-up-wrapper > * {
  /* border: 1px solid rebeccapurple; */
}

.logout-up-icon-wrapper {
  flex: 2 1 0;
}

.logout-up-icon-wrapper i {
  font-size: 50px;
  padding: 2px 0 0 5px;
}

.logout-up-name {
  flex: 6 1 0;
  padding: 2px;
}

.logout-btn button {
  width: 100%;
  padding: 10px 0;
  letter-spacing: 1px;
  font-weight: bolder;
  cursor: pointer;
  background-color: rgba(26, 145, 218, 0.9);
  /* background-image: linear-gradient(to right, red, goldenrod); */
  border: none;
  outline: none;
  color: #fff;
  border-radius: 25px;
}
