.up-top-wrapper {
  grid-column: 2/3;
  border: 2px solid red;
  padding: 0 15px;
}

.up-tc {
  display: flex;
  align-items: center;
}

.up-tc > * {
  padding-right: 10px;
  margin-right: 5px;
}

.up-tc .up-tc-v {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.up-tc span {
  font-size: 15px;
  color: #657786;
}
