* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tweet-wrapper {
  min-height: 100px;
  display: flex;
  margin-bottom: 5px;
  padding: 5px 15px;
  box-shadow: 0 10px 0 0 #e6ecf0;
}

.tweet-wrapper > * {
  background-color: rgba(255, 255, 255, 0.1);
}

.tw-user-profile {
  flex: 1 1 0;
}

.tw-user-profile i {
  font-size: 50px;
  padding: 5px 5px 0;
}

.tw-ta {
  /* background-color: rgba(0, 0, 0, 0.1); */
  flex: 9 1 0;
  margin-top: 14px;
  display: flex;
  flex-direction: column;
}

/* .tw-ta > * {
  padding: 5px;
} */

.tw-ta-input {
  flex: 3 1 auto;
}

.tw-ta-input textarea {
  width: 100%;
  border: none;
  padding: 5px;
  resize: none;
  outline: none;
}

.tw-ta-action {
  flex: 1 1 auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tw-ta-action-r button {
  background-color: rgb(26, 145, 218);
  color: #fff;
  letter-spacing: 1px;
  font-weight: bolder;
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.tw-ta-action-r button:disabled {
  background-color: rgb(162, 193, 212);
  color: #fff;
}
