* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: minmax(auto, 450px) minmax(500px, 1fr) minmax(
      auto,
      450px
    );

  height: 100vh;
  overflow: auto;
}

.container > * {
  /* border: 1px solid green; */
}
